name: Deploy to Firebase Hosting
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_X_BET_PROD_JD }}'
          channelId: live
          projectId: x-bet-prod-jd
